<h2>Lista Dipendenti</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Username</th>
            <th>Email</th>
            <th>Azioni</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let dipendente of dipendenti">
            <td> {{ dipendenti.id }}</td>
            <td> {{ dipendenti.nome }}</td>
            <td> {{ dipendenti.cognome }}</td>
            <td> {{ dipendenti.username }}</td>
            <td> {{ dipendenti.email }}</td>
            <td>

                <div>
                    <button type="button"  class="btn btn-secondary btn-sm">
                        Dettagli</button>

                    <button type="button"  class="btn btn-info btn-sm ms-2">
                        Update</button>

                    <button type="button"  class="btn btn-danger btn-sm ms-2">
                        Delete</button>


                </div>
            </td>
        </tr>
    </tbody>

</table>