<h1 class="text-center mt-4 mb-4">ADMIN</h1>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="dipendente" routerLinkActive="active" class="nav-link">LISTA DIPENDENTI</a>
        </li>
        <li class="nav-item">
            <a routerLink="crea-dipendenti" routerLinkActive="active" class="nav-link">AGGIUNGI DIPENDENTE</a>
        </li>

    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>