
<div class="container mt-4">
    <h3 class="mb-4">DETTAGLI DIPENDENTE</h3>
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID:</b> {{ dipendente.id }}</li>
                <li class="list-group-item"><b>Nome:</b> {{ dipendente.nome }}</li>
                <li class="list-group-item"><b>Cognome:</b> {{ dipendente.cognome }}</li>
                <li class="list-group-item"><b>Matricola:</b> {{ dipendente.matricola }}</li>
                <li class="list-group-item"><b>Username:</b> {{ dipendente.username }}</li>
                <li class="list-group-item"><b>Email:</b> {{ dipendente.email }}</li>
            </ul>
        </div>
    </div>
</div>